---
import { profile } from "../../data/profile";
---

<section class="pb-4">
  <div class="shell">
    <div class="panel flex flex-wrap items-center gap-3 p-4 sm:p-5">
      {profile.credibility.map((item) => <span class="pill">{item}</span>)}
    </div>
  </div>
</section>
