---
interface Props {
  quote: string;
  note?: string;
  className?: string;
}

const { quote, note, className = "" } = Astro.props;
---

<section class:list={["quote-block", className]}>
  <blockquote>{quote}</blockquote>
  {note && <p>{note}</p>}
</section>
